<nav class="navbar clearfix navbar-dark navbar-expand-sm bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
          aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-main">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><span class="navbar-text text-white">Регион:</span></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle link-blue" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Новосибирск и область
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="nav-link link-blue" href="#">Астрахань и область</a>
            <a class="nav-link link-blue" href="#">Владимир и область</a>
            <a class="nav-link link-blue" href="#">Ижевск и область</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link link-blue" href="#">Леонид  Федорович</a></li>
      <li class="nav-item"><a class="nav-link link-blue" href="#">выход</a></li>
    </ul>
  </div>
</nav>